<!DOCTYPE html>
<html>
<!--
	Shows use of form events
-->	
<link rel = "stylesheet"  type="text/css" href = "/css/total.css"> 
	<head>
	<title>Calorie Tracker</title>
	<script type="text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>


	<ul>
	  <li><a href="http://localhost:3000">Home</a></li>
	  <li><a href="http://localhost:3000/total">Totals</a></li>
	  <li><a href="http://localhost:3000/about">About</a></li>

	  
	</ul>
	
	</head>
	<body>
		<div class= "title">
		<h1 id = "title">Food Totals</h1>
		<hr>
		<form action="#">
		
		<div/>

		<table id = "total">
					<tr>
					    <th>Food Name</th>
					    <th>Type</th>
					    <th>Calories</th>
					    <th>Protein</th>
					    <th>Carbohydrates</th>
				     </tr>
				     <tr>
				     	<th>Cheeseburger</th>
					    <th>Fast FOoD</th>
					    <th>500</th>
					    <th>20g</th>
					    <th>10g</th>
					 </tr>
					 
					 
		</table>






        <script src="js/home.js"></script>

	


	</body>
</html>