@font-face {
  font-family: 'Bigdex';
  src: url('/fonts/Bigdex.ttf');
}

@font-face {
  font-family: 'BebasNeue';
  src: url('/fonts/BebasNeue-Regular.ttf');
}

.searchbar input[type=text] {
  float: middle;
  padding: 6px;
  border: 1px;
  font-size: 30px;
  text-align: center;
  font-family: 'BebasNeue', Fantasy, sans-serif;
  font-weight: 30;
  color: #00206b;
}

.searchbar {
  float: middle;
  text-align: center;
}
 h1{
 	text-shadow: 2px 2px 4px rgba(0, 32, 107, 0.25),
               3px 4px 4px rgba(0, 32, 107, 0.5),
               4px 6px 4px rgba(0, 32, 107, 0.75),
               5px 8px 4px rgba(0, 32, 107, 1);
 	font-size: 70px;
 	  font-weight: 600;
 	  /*background-image: repeating-radial-gradient(circle closest-corner at 100px 100px, #4140FF, #1414C8 10%, #4140FF 20%);*/
 	 /* color: transparent;*/
   color: #f2f2f2;
 	  background-clip: text;
 	  -webkit-background-clip: text;
	text-align: center;
	
}
/*
@font-face {
  font-family: 'Tealand';
  src: url('/fonts/Tealand.otf');
}

@font-face {
  font-family: 'Super Milk';
  src: url('/fonts/Super Milk.ttf');
}

@font-face {
  font-family: 'Grinched';
  src: url('/fonts/GrinchedRegular.otf');
}

@font-face {
  font-family: 'Wigglye';
  src: url('/fonts/Wigglye.ttf');
}
*/


#title{
  background: #148bff;
	text-align: center;
	font-family: 'Bigdex', Fantasy, sans-serif;
  font-weight: 30;
}

 
 #navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #148bff;
  font-family: 'BebasNeue', Fantasy, sans-serif;
  font-weight: 30;
}

#navigation li {
  float: left;
}

#navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navigation li a:hover {
  background-color: #f2f2f2;
  color: #00206b;
}
  
/* logo slider css */

logos * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
logos body {
  background: #f2f2f2;
}
*/
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: absolute; /* originally set to position: relative; */
  bottom: 0px;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 50s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}
